<?xml version="1.0" encoding="utf-8"?>
<!--Simulation Scenario-->
<Scenario>
  <SpaceSegment>
    <Constellation>
      <NumOfPlanes>6</NumOfPlanes>
      <NumOfSatellites>24</NumOfSatellites>
      <ConstellationID>1</ConstellationID>
      <ConstellationName>GPS</ConstellationName>
      <ReceiverConstellation>1111</ReceiverConstellation>
      <Satellite>
        <SatelliteID>1</SatelliteID>
        <Plane>1</Plane>
        <EpochMJD>49169</EpochMJD>
        <SemiMajorAxis>26561750</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>55.00</Inclination>
        <RAAN>272.847</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>11.676</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>2</SatelliteID>
        <Plane>1</Plane>
        <EpochMJD>49169</EpochMJD>
        <SemiMajorAxis>26561750</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>55.00</Inclination>
        <RAAN>272.847</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>41.806</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>3</SatelliteID>
        <Plane>1</Plane>
        <EpochMJD>49169</EpochMJD>
        <SemiMajorAxis>26561750</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>55.00</Inclination>
        <RAAN>272.847</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>161.786</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>4</SatelliteID>
        <Plane>1</Plane>
        <EpochMJD>49169</EpochMJD>
        <SemiMajorAxis>26561750</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>55.00</Inclination>
        <RAAN>272.847</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>268.126</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>5</SatelliteID>
        <Plane>2</Plane>
        <EpochMJD>49169</EpochMJD>
        <SemiMajorAxis>26561750</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>55.00</Inclination>
        <RAAN>332.847</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>80.956</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>6</SatelliteID>
        <Plane>2</Plane>
        <EpochMJD>49169</EpochMJD>
        <SemiMajorAxis>26561750</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>55.00</Inclination>
        <RAAN>332.847</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>173.336</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>7</SatelliteID>
        <Plane>2</Plane>
        <EpochMJD>49169</EpochMJD>
        <SemiMajorAxis>26561750</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>55.00</Inclination>
        <RAAN>332.847</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>204.376</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>8</SatelliteID>
        <Plane>2</Plane>
        <EpochMJD>49169</EpochMJD>
        <SemiMajorAxis>26561750</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>55.00</Inclination>
        <RAAN>332.847</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>309.976</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>9</SatelliteID>
        <Plane>3</Plane>
        <EpochMJD>49169</EpochMJD>
        <SemiMajorAxis>26561750</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>55.00</Inclination>
        <RAAN>32.847</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>111.876</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>10</SatelliteID>
        <Plane>3</Plane>
        <EpochMJD>49169</EpochMJD>
        <SemiMajorAxis>26561750</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>55.00</Inclination>
        <RAAN>32.847</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>241.556</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>11</SatelliteID>
        <Plane>3</Plane>
        <EpochMJD>49169</EpochMJD>
        <SemiMajorAxis>26561750</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>55.00</Inclination>
        <RAAN>32.847</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>339.666</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>12</SatelliteID>
        <Plane>3</Plane>
        <EpochMJD>49169</EpochMJD>
        <SemiMajorAxis>26561750</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>55.00</Inclination>
        <RAAN>32.847</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>11.796</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>13</SatelliteID>
        <Plane>4</Plane>
        <EpochMJD>49169</EpochMJD>
        <SemiMajorAxis>26561750</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>55.00</Inclination>
        <RAAN>92.847</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>135.226</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>14</SatelliteID>
        <Plane>4</Plane>
        <EpochMJD>49169</EpochMJD>
        <SemiMajorAxis>26561750</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>55.00</Inclination>
        <RAAN>92.847</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>167.356</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>15</SatelliteID>
        <Plane>4</Plane>
        <EpochMJD>49169</EpochMJD>
        <SemiMajorAxis>26561750</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>55.00</Inclination>
        <RAAN>92.847</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>265.446</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>16</SatelliteID>
        <Plane>4</Plane>
        <EpochMJD>49169</EpochMJD>
        <SemiMajorAxis>26561750</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>55.00</Inclination>
        <RAAN>92.847</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>35.156</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>17</SatelliteID>
        <Plane>5</Plane>
        <EpochMJD>49169</EpochMJD>
        <SemiMajorAxis>26561750</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>55.00</Inclination>
        <RAAN>152.847</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>197.046</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>18</SatelliteID>
        <Plane>5</Plane>
        <EpochMJD>49169</EpochMJD>
        <SemiMajorAxis>26561750</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>55.00</Inclination>
        <RAAN>152.847</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>302.596</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>19</SatelliteID>
        <Plane>5</Plane>
        <EpochMJD>49169</EpochMJD>
        <SemiMajorAxis>26561750</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>55.00</Inclination>
        <RAAN>152.847</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>333.686</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>20</SatelliteID>
        <Plane>5</Plane>
        <EpochMJD>49169</EpochMJD>
        <SemiMajorAxis>26561750</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>55.00</Inclination>
        <RAAN>152.847</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>66.066</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>21</SatelliteID>
        <Plane>6</Plane>
        <EpochMJD>49169</EpochMJD>
        <SemiMajorAxis>26561750</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>55.00</Inclination>
        <RAAN>212.847</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>238.886</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>22</SatelliteID>
        <Plane>6</Plane>
        <EpochMJD>49169</EpochMJD>
        <SemiMajorAxis>26561750</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>55.00</Inclination>
        <RAAN>212.847</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>345.226</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>23</SatelliteID>
        <Plane>6</Plane>
        <EpochMJD>49169</EpochMJD>
        <SemiMajorAxis>26561750</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>55.00</Inclination>
        <RAAN>212.847</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>105.206</MeanAnomaly>
      </Satellite>
      <Satellite>
        <SatelliteID>24</SatelliteID>
        <Plane>6</Plane>
        <EpochMJD>49169</EpochMJD>
        <SemiMajorAxis>26561750</SemiMajorAxis>
        <Eccentricity>0.00</Eccentricity>
        <Inclination>55.00</Inclination>
        <RAAN>212.847</RAAN>
        <ArgOfPerigee>0.00</ArgOfPerigee>
        <MeanAnomaly>135.346</MeanAnomaly>
      </Satellite>
    </Constellation>
  </SpaceSegment>
  <GroundSegment>
    <Network>
      <NumStation>1</NumStation>
      <NetworkName>Net1</NetworkName>
    <GroundStation>
      <Type>Downlink</Type>
      <ConstellationID>1</ConstellationID>
      <GroundStationID>1</GroundStationID>
      <GroundStationName>Kourou</GroundStationName>
      <Latitude>5.25</Latitude>
      <Longitude>-52.8</Longitude>
      <Height>0</Height>
      <ReceiverConstellation>1</ReceiverConstellation>
      <ElevationMask>5</ElevationMask>
    </GroundStation>
    </Network>
  </GroundSegment>
  <UserSegment>
    <User>
      <Type>Static</Type>
      <Latitude>52.0</Latitude>
      <Longitude>4.36</Longitude>
      <Height>0</Height>
      <ReceiverConstellation>1</ReceiverConstellation>
      <ElevationMask>5</ElevationMask>
    </User>
    <User>
      <Type>Static</Type>
      <Latitude>1.35</Latitude>
      <Longitude>103.82</Longitude>
      <Height>0</Height>
      <ReceiverConstellation>1</ReceiverConstellation>
      <ElevationMask>5</ElevationMask>
    </User>
  </UserSegment>
  <SimulationManager>
    <StartDate>2026-02-01 00:00:00</StartDate>
    <StopDate>2026-02-02 00:00:00</StopDate>
    <TimeStep>300</TimeStep>
    <IncludeStation2SpaceLinks>True</IncludeStation2SpaceLinks>
    <IncludeUser2SpaceLinks>True</IncludeUser2SpaceLinks>
    <IncludeSpace2SpaceLinks>False</IncludeSpace2SpaceLinks>
    <OrbitsFromPreviousRun>False</OrbitsFromPreviousRun>
    <OrbitPropagator>Keplerian</OrbitPropagator>
    <Analysis>
      <Type>cov_satellite_visible</Type>
    </Analysis>
    <Analysis>
      <Type>cov_satellite_sky_angles</Type>
      <ConstellationID>1</ConstellationID>
      <SatelliteID>1</SatelliteID>
    </Analysis>
    <Analysis>
      <Type>cov_satellite_sky_angles</Type>
      <ConstellationID>1</ConstellationID>
      <SatelliteID>7</SatelliteID>
    </Analysis>
  </SimulationManager>
</Scenario>
