<?xml version="1.0" encoding="utf-8"?>
<!--Simulation Scenario-->
<Scenario>
  <SpaceSegment>
    <Constellation>
      <ConstellationID>1</ConstellationID>
      <NumOfSatellites>1</NumOfSatellites>
      <NumOfPlanes>1</NumOfPlanes>
      <ConstellationName>LEO-SSO</ConstellationName>
      <ReceiverConstellation>1</ReceiverConstellation>
      <Satellite>
        <SatelliteID>1</SatelliteID>
        <Plane>1</Plane>
        <EpochMJD>61072.0</EpochMJD>
        <SemiMajorAxis>7078137</SemiMajorAxis>
        <Eccentricity>0.001</Eccentricity>
        <Inclination>98.19</Inclination>
        <RAAN>140.0</RAAN>
        <ArgOfPerigee>0.0</ArgOfPerigee>
        <MeanAnomaly>0.0</MeanAnomaly>
      </Satellite>
    </Constellation>
  </SpaceSegment>
  <GroundSegment>
    <Network>
      <NumStation>1</NumStation>
      <NetworkName>Net1</NetworkName>
    <GroundStation>
      <Type>Downlink</Type>
      <ConstellationID>1</ConstellationID>
      <GroundStationID>1</GroundStationID>
      <GroundStationName>Svalbard</GroundStationName>
      <Latitude>77.875</Latitude>
      <Longitude>20.9752</Longitude>
      <Height>0</Height>
      <ReceiverConstellation>1</ReceiverConstellation>
      <ElevationMask>5</ElevationMask>
    </GroundStation>
    </Network>
  </GroundSegment>
  <UserSegment>
    <User>
      <Type>Static</Type>
      <Latitude>52.0</Latitude>
      <Longitude>4.36</Longitude>
      <Height>0</Height>
      <ReceiverConstellation>1</ReceiverConstellation>
      <ElevationMask>5</ElevationMask>
    </User>
  </UserSegment>
  <SimulationManager>
    <StartDate>2026-02-01 00:00:00</StartDate>
    <StopDate>2026-02-03 00:00:00</StopDate>
    <TimeStep>30</TimeStep>
    <IncludeStation2SpaceLinks>True</IncludeStation2SpaceLinks>
    <IncludeUser2SpaceLinks>True</IncludeUser2SpaceLinks>
    <IncludeSpace2SpaceLinks>False</IncludeSpace2SpaceLinks>
    <OrbitsFromPreviousRun>False</OrbitsFromPreviousRun>
    <OrbitPropagator>Keplerian</OrbitPropagator>
    <Analysis>
      <Type>pow_eclipse_duration</Type>
    </Analysis>
  </SimulationManager>
</Scenario>
